.trade-card-container {
  display: flex;
  width: 401px;
  height: 306px;
  flex-shrink: 0;
  /* background-color: black; */
  border-radius: 24px;
}

.trade-card {
  width: 401px;
  height: 306px;
  position: relative;
  /* background: #404040; */
  border-radius: 24px;
  overflow: hidden;
  padding: 20px;
  box-shadow: 0 2px 4px;
  border-radius: 24px;
  background: var(--dark-black-grad, linear-gradient(180deg, #393046 0%, #2D2537 100%));
}

.gradient-background {
  width: 401px;
  height: 306px;
  position: absolute;
  background: linear-gradient(180deg, #393046 0%, #2d2537 100%);
  border-radius: 24px;
}

.title {
  position: absolute;
  left: 87px;
  top: 26px;
  color: #ebecec;
  font-size: 16px;
  font-family: "DM Sans";
  font-weight: 500;
  word-wrap: break-word;
}

.live-status {
  width: 53px;
  height: 24.65px;
  left: 323px;
  top: 29px;
  position: absolute;
  display: flex;
  align-items: center;
  background: #1b3c37;
  border-radius: 44.37px;
  padding: 0 10px;
}

.live-indicator {
  width: 4.93px;
  height: 4.93px;
  background: #01c36d;
  border-radius: 9999px;
  margin-right: 6px;
}

.timestamp {
  width: 174px;
  height: 16px;
  left: 87px;
  top: 52px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  color: rgba(235, 236, 236, 0.3);
  font-size: 12px;
  font-family: "DM Sans";
  font-weight: 500;
  word-wrap: break-word;
}

.entry-row {
  width: 341px;
  height: 16px;
  left: 30px;
  top: 98px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  color: #ebecec;
  font-size: 12px;
  font-family: "DM Sans";
  font-weight: 400;
  letter-spacing: 0.12px;
  word-wrap: break-word;
}

.entry {
  color: rgba(235, 236, 236, 0.7);
  font-size: 9px;
  font-weight: 400;
  letter-spacing: 0.09px;
  margin-right: 16px;
}

.trade-name {
  color: rgba(235, 236, 236, 0.7);
  font-size: 9px;
  font-weight: 400;
  letter-spacing: 0.09px;
  margin-right: auto;
}

.current {
  color: rgba(235, 236, 236, 0.7);
  font-size: 9px;
  font-weight: 400;
  letter-spacing: 0.09px;
}

.divider {
  width: 355px;
  height: 0.38px;
  left: 20px;
  position: absolute;
  background: rgba(235, 236, 236, 0.3);
}

.stock-icon {
  width: 50px;
  height: 50px;
  left: 25px;
  top: 21px;
  position: absolute;
  background: #2a2136;
  border-radius: 10.81px;
}

.price-row {
  width: 346.18px;
  height: 39px;
  left: 25px;
  top: 136px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.target {
  display: flex;
  align-items: center;
}

.price-indicator {
  width: 6.57px;
  height: 10.83px;
  background: #ebecec;
  margin-right: 6.57px;
}

.stock-name {
  color: #ebecec;
  font-size: 16px;
  font-family: "DM Sans";
  font-weight: 500;
  word-wrap: break-word;
}

.button-row {
  width: 351px;
  height: 55;
}
.place-order-button{
  display: inline-flex;
  height: 55px;
  padding: 21px 44px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 12px;
  background: var(--cmn-green-grad-button, linear-gradient(180deg, #01C36D 0%, #01C16C 0.01%, #019C57 100%));
}